body {
    background-color: rgb(154, 166, 154);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#bug {
    mix-blend-mode: multiply;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 0.4s;
}
