* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: “Bebas Neue”, cursive;
    background: #1e1e1e;
}
.container {
    display: flex;
}
.container .eyes {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background-color: #fff;
    margin: 0 20px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
}
.container .eyes::before {
    content: "";
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    border: 10px solid rgb(164, 214, 174);
    box-sizing: border-box;
}
.container .mouth {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 215px;
    height: 90px;
    top: 60%;
    left: 43.2%;
    border-radius: 7px 7px 100px 100px;
}
